<div class="mx-auto col-md-8 mb-1 mt-1">
  <div class="card">
    <div class="card-body">
      <h5 class="card-tittle">Busqueda Programacion Por</h5>
      <form>
        <div class="row">
          <div class="col">
            <input
              type="text"
              maxlength="8"
              class="form-control busqueda"
              placeholder="año"
            />
          </div>
          o
          <div class="col">
            <input
              maxlength="8"
              type="text"
              class="form-control busqueda"
              placeholder="mes"
            />
          </div>
          <div class="col">
            <input
              type="button"
              class="form-control bg-info text-white"
              value="Buscar"
              id="btnbuscar"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
