<div class="col-md-12 mt-1">
  <div class="table-responsive">
    <table class="table table-md table-dark table-bordered" id="tb_personal">
      <thead>
        <tr>
          <th>Nroº</th>
          <th>Codigo de Inscripcion</th>
          <th>Usuario</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Carrera</th>
          <th>Curso</th>
          <th>Precio</th>
          <th>horario</th>
          <th>frecuencia</th>
          <th>fecha_inicio</th>
          <th>Fecha_final</th>
          <th>estado</th>
        </tr>
      </thead>
      <tbody id="cuerpo_listado"></tbody>
    </table>
    <div id="frm-registerPago"></div>
  </div>
</div>
