<div class="col-md-12 mt-1">
  <div class="table-responsive">
    <table class="table table-md table-dark table-bordered" id="tb_alumnos">
      <thead>
        <tr>
          <th>Nroº</th>
          <th>DNI</th>
          <th>Usuario</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Sexo</th>
          <th>Fecha Nac.</th>
          <th>Domicilio</th>
          <th>Estado civil</th>
          <th>Telefono</th>
          <th>Correo Electronico</th>
          <th>Fecha Creacion</th>
          <th>Fecha Actualizacion</th>
          <th>Estado</th>
          <th colspan="2">
            <button
              type="button"
              class="btn btn-primary btn-block registrar"
              data-toggle="modal"
              data-target=".registrarModal"
            >
              Registro
            </button>
            <div id="frm-register"></div>
          </th>
        </tr>
      </thead>
      <tbody id="cuerpo_listado"></tbody>
    </table>
    <div id="frm_actualizaEstudiante"></div>
  </div>
</div>
